ba-salesforce-eapi/src/main/mule/idp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:idp-dl-extractor-120="http://www.mulesoft.org/schema/mule/idp-dl-extractor-120"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:idp-dl-extractor-110="http://www.mulesoft.org/schema/mule/idp-dl-extractor-110" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/idp-dl-extractor-110 http://www.mulesoft.org/schema/mule/idp-dl-extractor-110/current/mule-idp-dl-extractor-110.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/idp-dl-extractor-120 http://www.mulesoft.org/schema/mule/idp-dl-extractor-120/current/mule-idp-dl-extractor-120.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	
	<flow name="idp-loan-dl-extract" doc:id="eb05b242-3c37-47d9-a570-7464e291bf41" >
		<logger level="INFO" doc:name="Logger" doc:id="273b13e8-ceb4-46a5-885d-812493b99880" />
		<set-variable value="#[payload.contactId]" doc:name="contactId" doc:id="f4a4b4d5-e442-43cf-b5e8-104ba0ee40a9" variableName="contactId"/>
		<salesforce:query doc:name="Query contentVersion" doc:id="21d23e92-35ea-42f2-b5be-e1a026b16eb0" config-ref="salesforceConfig">
			<salesforce:salesforce-query ><![CDATA[SELECT Id , pathOnClient, versionData from ContentVersion where ID = ':versionId']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"versionId" : payload.versionId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="idp input payload" doc:id="935be96e-0731-4b7b-b58a-02e1498c86cc">
			<ee:message>
				<ee:set-payload ><![CDATA[%dw 2.0
import dw::module::Multipart
import * from dw::core::Binaries

output multipart/form-data
---
{
	parts: {
	  file: {
	  	headers: {
	  		"Content-Disposition":{
	  			name: "file",
	  			filename: payload[0].PathOnClient,
	  			subtype: "form-data"
	  		},
	  	"Content-Type": "image/jpeg" ,
	  	},
	   content: fromBase64((payload[0].VersionData) as String) as Binary
	  }
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="contactIdVar" ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
 //attributes.headers.Subject
---
//(contactId splitBy  " ") [-1 to 0] [0]

vars.contactId]]></ee:set-variable>
			
</ee:variables>
		</ee:transform>
		<idp-dl-extractor-120:postdocumentactionexecution doc:name="postDocumentActionExecution" doc:id="e0d7e538-04f8-4d8f-a353-ec40d5bed3a8" config-ref="IDP___DL_extractor___1_2_0_Config"/>
		<logger level="INFO" doc:name="After IDP post" doc:id="03c13cf6-47dd-4179-8634-14dce66c3be0" message="#[payload]" />
		<set-variable value="#[payload.id]" doc:name="idp-id" doc:id="13c37b2e-5284-4ebd-a93f-b0d0d8f18a42" variableName="idp-id" />
		<flow-ref doc:name="get-dl-details" doc:id="251848ca-6b1b-422a-a0c7-4959a14496c0" name="get-dl-details" />
	</flow>
	<sub-flow name="get-dl-details" doc:id="5f06e2e7-fbe7-44b9-bd31-62cae40dc7c4" >
		<logger level="INFO" doc:name="Before get-idp-payload" doc:id="f88ad8d9-8a31-46a9-8857-0ab2a66f1a0a" message="Before get-idp-payload" />
		<async doc:name="Async" doc:id="a0f79a09-908e-40c7-a6fd-c3e53d154d1c">
			<until-successful maxRetries="5" doc:name="Until Successful" doc:id="335d1235-036f-42ed-a774-1903091f94c8" >
				<logger level="INFO" doc:name="Before get-idp-payload" doc:id="f3066151-08f8-42f8-851b-f65173cd5c8e" message="Before get-idp-payload" />
				<idp-dl-extractor-120:getdocumentactionexecution doc:name="getDocumentActionExecution" doc:id="2ee50180-63fd-4bf7-ae37-98c8ebd3513f" config-ref="IDP___DL_extractor___1_2_0_Config" execution-id='#[vars."idp-id"]'/>
				<validation:is-true doc:name="payload.status is SUCCEEDED" doc:id="6d415403-ccf7-4e47-ac33-0d9b412d1933" config-ref="validationConfig" expression='#[payload.status == "SUCCEEDED" or payload.status == "MANUAL_VALIDATION_REQUIRED"]' />
				<logger level="INFO" doc:name="Logger" doc:id="10636cee-431b-4f38-bfd5-c04f24ae11da" message='#["After IDP Payload---"]'/>
				<ee:transform doc:name="Transform Message" doc:id="d8e4dfb9-be96-4f3d-92a1-309a015b80e1">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"address": "25 MADDEN ROAD TANDRAGEE BT62 2DG",
    "DL-Number": payload.prompts."DLNumber".answer.value default "SMITH609258W99IM 17",
    "name": "Will Smith"
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="GET" doc:name="Request to Salesforce sapi  to Retrieve LoanStatusObject" doc:id="9a1194a6-2640-4fe2-a963-f404c1192363" config-ref="salesforceSapiRequestconfig" path="${salesforceSapi.loandetails}" target="loanRecord">
					<http:headers ><![CDATA[#[output json ---
{
	"X-CLIENT-ID": "1234",
	"X-CLIENT-SECRET": "12345"
}]]]></http:headers>
					<http:query-params ><![CDATA[#[output json ---

{
	"contactId": vars.contactIdVar default "003Kc000008JV9AIAW"
}]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="Transform Message" doc:id="1391a802-6597-4391-93bb-ee3afdfb335b">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
	"proofDocument": "DrivingLicence",
	"proofId": payload."DL-Number",
	"id": vars.loanRecord[0].Id,
	"loanStatus": "Approved"	
}]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="PUT" doc:name="Request to Salesforce sapi  to Update LoanStatusObject" doc:id="37c59077-cdb2-4de0-8a04-0c10bee830b2" config-ref="salesforceSapiRequestconfig" path="${salesforceSapi.loandetails}">
					<http:headers ><![CDATA[#[output json ---
{
	"X-CLIENT-ID": "1234",
	"X-CLIENT-SECRET": "12345"
}]]]></http:headers>
				</http:request>
				<logger level="INFO" doc:name="Logger" doc:id="701a7279-6d29-4dfe-9889-51417201a386" message="AFTER UPDATING LOANSTATUSOBJECT IN SALESFORCE"/>
			</until-successful>
			<http:request method="GET" doc:name="Request to Salesforce sapi  to retrieve recipientname" doc:id="f8d6bea9-3a9d-48de-affc-e2fb465b8feb" config-ref="salesforceSapiRequestconfig" path="${salesforceSapi.contactdetails}" target="receipientName">
				<http:headers><![CDATA[#[output json ---
{
	"X-CLIENT-ID": "1234",
	"X-CLIENT-SECRET": "12345"
}]]]></http:headers>
				<http:query-params ><![CDATA[#[output json ---

{
	"contactId": vars.contactIdVar default "003Kc000008JV9AIAW"
}]]]></http:query-params>
			</http:request>
			<http:request method="POST" doc:name="Request to notification Sapi" doc:id="cb8243e6-22f6-4603-a864-8ed1a129c38b" config-ref="notificationSapirequestSapi" path="${notificationSapi.createNotification}" >
				<http:body ><![CDATA[#[output json
---
{
	
loanAmount: vars.loanRecord[0].loanAmount__c  as Number default 0,
name: vars.receipientName[0].Name,
contactId: vars.receipientName[0].Id,
id: vars.loanRecord[0].Id
}]]]></http:body>
				<http:headers ><![CDATA[#[output json ---
{
	"X-CLIENT-ID": "1234",
	"X-CLIENT-SECRET": "12345"
}]]]></http:headers>
			</http:request>
			<logger level="INFO" doc:name="Logger" doc:id="ca0fd634-dfd8-466e-bbb8-884d10a3a87c" message="NOTIFICATION SENT SUCCESSFULLY" />
		</async>
	</sub-flow>
	<!-- [STUDIO:"emailNotificationFlow"]<sub-flow name="emailNotificationFlow" doc:id="5b6c4c33-8a77-4c7d-a740-11d06c8feaec" >
		<set-variable value="#[output application/java&#10;&#45;&#45;-&#10;p('smtp.toAddress')&#93;" doc:name="Set Variable for receipients" doc:id="96c7ae70-cdd9-4ded-ac0c-3855e0d3200c" variableName="emailRecipients" />
		<parse-template doc:name="Parse Template" doc:id="ae9a4c3a-686c-4a84-90fc-9630ae1b6d3c" location="resources/emailNotification.html" />
		<email:send doc:name="Send" doc:id="8227f592-8a59-4254-bfa6-8cbdd249e29c" config-ref="Email_SMTP" fromAddress="${smtp.fromAddress}" subject='#[output text/plain&#10;&#45;&#45;-&#10;"Loan Approval Notification " ++ vars.contactIdVar&#93;' toAddresses='#[vars.emailRecipients splitBy(",")&#93;' />
	</sub-flow> [STUDIO] -->
</mule>
