ba-salesforce-sapi/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="ba-salesforce-sapi-main">
        <http:listener config-ref="baSalesforceSapiHttpListenerConfig" path="${https.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ba-salesforce-sapi-config" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="put:\loan\loandetails:application\json:ba-salesforce-sapi-config">
        <flow-ref doc:name="update-loan-details" doc:id="9fbc5880-5b66-42d6-ad93-2d4618273a8d" name="update-loan-details" />
    </flow>
    <flow name="get:\contact\contactdetails:ba-salesforce-sapi-config">
        <flow-ref doc:name="get-contact-details" doc:id="d5825174-a76d-4898-9f47-4734892d8b0e" name="get-contact-details" />
    </flow>
    <flow name="get:\loan\loandetails:ba-salesforce-sapi-config">
        <flow-ref doc:name="get-loan-details" doc:id="1927bf62-25d4-40f3-90e0-039cb48c83c7" name="get-loan-details" />
    </flow>
</mule>
