ba-notification-sapi/src/main/mule/ba-notification-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="ba-notification-sapi-main">
        <http:listener path="${https.path}" config-ref="apiHttpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="baNotificationSapiConfig" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\creditcardnotification:application\json:baNotificationSapiConfig">
        <flow-ref doc:name="Flow Reference" doc:id="915b8c91-972c-42f5-a9fb-22c02f051251" name="email-notification-sub-flow" />
    </flow>
    <flow name="post:\loannotification:application\json:baNotificationSapiConfig">
        <flow-ref doc:name="Flow Reference" doc:id="720c8a9d-e8d5-4c13-a226-a6a1a3569875" name="email-loan-notificationFlow" />
    </flow>
</mule>
