ba-experian-sapi/src/main/mule/ba-experian-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="ba-experian-sapi-main">
        <http:listener path="${https.path}" config-ref="baexperianSapiHttpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="baExperianSapiConfig" />
		<error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\creditscore:application\json:baExperianSapiConfig">
       
           <ee:transform doc:name="Transform Message">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<flow-ref doc:name="oauth-flow" doc:id="6feffa3d-7887-4ba8-8730-80e84c13c480" name="oauth-flow"/>
		<flow-ref doc:name="credit-score-flow" doc:id="f5a4ebc7-9d90-416b-8d63-21b7b41a55d7" name="credit-score-flow"/>
    
    </flow>
</mule>
